<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,maximum-scale=1.0,minimum-scale=1,initial-scale=1.0,user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no"/>
    <title>Document</title>
</head>
<body style="display: none">


<header>
    课海
</header>

<div class="banner">
    <ul class="bannerList">
        <li>
            <a href="javascript:;">
                <img src="../images/banner1.jpg" alt="">
            </a>
        </li>
        <li>
            <a href="javascript:;"> <img src="../images/banner1.jpg" alt=""></a>
        </li>
        <li>
            <a href="javascript:;"> <img src="../images/banner1.jpg" alt=""></a>
        </li>
        <li>
            <a href="javascript:;"> <img src="../images/banner1.jpg" alt=""></a>
        </li>
    </ul>
    <div>
        <ul class="bannerBtn">
            <li><a href="javascript:;"></a></li>
            <li><a href="javascript:;"></a></li>
            <li><a href="javascript:;"></a></li>
            <li><a href="javascript:;"></a></li>
        </ul>
    </div>

</div>



</body>
</html>